<%- contentFor('content') %>
<div class="row">
    <div class="col col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Sensors</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>My Temperature Sensor</td>
                                <td>Temperature</td>
                                <td>Inside Sensor</td>
                                <td class="text-right">
                                    <a href="/sensors/1" class="btn btn-success btn-sm m-1">View</a>
                                    <a href="/sensors/1/edit" class="btn btn-info btn-sm m-1">Edit</a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm m-1">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>My Humidity Sensor</td>
                                <td>Humidity</td>
                                <td></td>
                                <td class="text-right">
                                    <a href="/sensors/2" class="btn btn-success btn-sm m-1">View</a>
                                    <a href="/sensors/2/edit" class="btn btn-info btn-sm m-1">Edit</a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm m-1">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>My Pressure Sensor</td>
                                <td>Pressure</td>
                                <td>On the roof ...</td>
                                <td class="text-right">
                                    <a href="/sensors/3" class="btn btn-success btn-sm m-1">View</a>
                                    <a href="/sensors/3/edit" class="btn btn-info btn-sm m-1">Edit</a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm m-1">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <a href="/sensors/new" class="btn btn-success mr-4">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
