<%- contentFor('content') %>
<div class="row">
    <div class="col col-lg-12">
        <div class="card card-user">
            <div class="card-header">
                <h4 class="card-title text-center">Add new sensor</h4>
            </div>
            <div class="card-body">
                <form action="/sensors/new?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select class="custom-select" name="type">
                                    <% sensorTypes.forEach(type => { %>
                                        <option value="<%= type.id%>"><%= type.name%></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <lable>Latitude</lable>
                                <input name="latitude" type="number" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <lable>Longitude</lable>
                                <input name="longitude" type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <lable>Description</lable>
                                <textarea name="description" class="form-control textarea" placeholder="Sensor description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-success" value="Save">
                            <a href="/sensors" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
