<footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available">
    <div class="container-fluid">
        <div class="row">
            <div class="credits m-auto">
                <span class="copyright"> © 2020, made with <i class="fa fa-heart heart text-danger"></i> by Kostyál Bálint </span>
            </div>
        </div>
    </div>
</footer>