<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Weather Station - Users</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
        <!-- CSS Files -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    </head>

    <body class="">
        <div class="wrapper">
            <div class="sidebar" data-color="white" data-active-color="danger">
                <div class="logo">
                    <a href="/home" class="simple-text text-center logo-normal"> Weather Station </a>
                </div>
                <div class="logo">
                    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
                        <div class="logo-image-small">
                            <img src="https://avatars.dicebear.com/api/pixel-art/kostyalbalint.svg" />
                        </div>
                        <!-- <p>CT</p> -->
                    </a>
                    <a href="javascript:;" class="simple-text logo-normal">
                        Kostyál Bálint
                        <!-- <div class="logo-image-big">
            <img src="./img/logo-big.png">
          </div> -->
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li>
                            <a href="/home">
                                <i class="nc-icon nc-bank"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        <li>
                            <a href="/sensors">
                                <i class="nc-icon nc-settings-gear-65"></i>
                                <p>Sensors</p>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/users">
                                <i class="nc-icon nc-user-run"></i>
                                <p>Users</p>
                            </a>
                        </li>
                        <li class="align-self-end">
                            <hr class="w-75" />
                            <a onclick="document.getElementById('logoutForm').submit();">
                                <i class="nc-icon nc-user-run"></i>
                                <p>Log out</p>
                            </a>
                            <form action="/logout" method="post" id="logoutForm"></form>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">Weather Station</a>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="main-panel" style="height: 100vh">
                <div class="content">
                    <div class="row">
                        <div class="col col-lg-12">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h4 class="card-title text-center">Edit User</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" value="Kostyál Bálint" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" value="secret-pass" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <a href="javascript:;" class="btn btn-info">Generate API token</a>
                                                <a href="javascript:;" id="api-token-btn" class="btn btn-success">Show</a>
                                                <h4 class="text-secondary" id="api-token">*************</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <a href="/users" class="btn btn-success">Save</a>
                                                <a href="/users" class="btn btn-danger">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="credits m-auto">
                                <span class="copyright"> © 2020, made with <i class="fa fa-heart heart text-danger"></i> by Kostyál Bálint </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--   Core JS Files   -->
        <script src="/js/core/jquery.min.js"></script>
        <script src="/js/core/popper.min.js"></script>
        <script src="/js/core/bootstrap.min.js"></script>
        <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <!--script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script-->
        <!-- Chart JS -->
        <script src="/js/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="/js/plugins/bootstrap-notify.js"></script>
        <!-- Demo JS file -->
        <script>
            $.fn.extend({
                toggleText: function (a, b) {
                    return this.text(this.text() == b ? a : b);
                },
            });

            $('#api-token-btn').on('click', () => {
                $('#api-token-btn').toggleClass('btn-success');
                $('#api-token-btn').toggleClass('btn-danger');
                $('#api-token-btn').toggleText('Show', 'Hide');
                $('#api-token').toggleText('*************', 'RGUgbmluY3Mga2VkdmVtIGVoaGV6');
            });
        </script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
    </body>
</html>
